<style>
  @media (min-width: 992px){
      .navbar li {
          margin-left : 1em;
          margin-right : 1em;
      }
  }
</style>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- GROUP PAGE -->
  <a class="navbar-brand" href="https://www.mpi-inf.mpg.de/departments/databases-and-information-systems/research/question-answering/" style="color: #fff;">QA@MPII-D5</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-controls="bs-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Links -->
  <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
    <ul class="navbar-nav">
      <!-- SIMPLE QUESTIONS -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <span class="glyphicon glyphicon-check"></span>
          Simple QA
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://quint.mpi-inf.mpg.de">QUINT (EMNLP 2017)</a>
        </div>
      </li>
      <!-- COMPLEX QUESTIONS -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <span class="glyphicon glyphicon-check"></span>
          Complex QA
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://quest.mpi-inf.mpg.de">QUEST (SIGIR 2019)</a>
          <a class="dropdown-item" href="https://clocq.mpi-inf.mpg.de">CLOCQ (WSDM 2022)</a>
        </div>
      </li>
      <!-- TEMPORAL QUESTIONS -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <span class="glyphicon glyphicon-time"></span>
          Temporal QA
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://tequila.mpi-inf.mpg.de">TEQUILA (CIKM 2018)</a>
          <a class="dropdown-item" href="https://exaqt.mpi-inf.mpg.de">EXAQT (CIKM 2021)</a>
        </div>
      </li>
      <!-- HETEROGENEOUS QA -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <span class="glyphicon glyphicon-time"></span>
          Heterogeneous QA
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://uniqorn.mpi-inf.mpg.de">UNIQORN (arXiv 2021)</a>
        </div>
      </li>
      <!-- CONVQA -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <span class="glyphicon glyphicon-time"></span>
          Conversational QA
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://convex.mpi-inf.mpg.de">CONVEX (CIKM 2019)</a>
          <a class="dropdown-item" href="https://crown.mpi-inf.mpg.de">CROWN (SIGIR 2020)</a>
          <a class="dropdown-item" href="https://conquer.mpi-inf.mpg.de">CONQUER (SIGIR 2021)</a>
        </div>
      </li>
    </ul>
  </div>
</nav>